<div class="mt-4 search-from">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Input Search">
        </div>

        <div class="form-group">
            <label for="search-input">Search</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="nam">nam</option>
                <option value="nu">nu</option>
                <option value="khac">khac</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>